<div class="cv-container">
    <div class="sidebar">
      <section class="philosophy">
        <h2>MY LIFE PHILOSOPHY</h2>
        <p>Be kind and respect everyone equally.</p>
      </section>
  
      <section class="strengths">
        <h2>STRENGTHS</h2>
        <div class="strength">
          <h3>• Adaptability</h3>
          <p>Eager to learn and adapt to new technologies, resulting in improved efficiency and productivity.</p>
        </div>
        <div class="strength">
          <h3>• Teamwork</h3>
          <p>Demonstrated ability to collaborate effectively in both small and large teams to deliver high-quality solutions.</p>
        </div>
        <div class="strength ">
          <h3>• Problem Solving</h3>
          <p>Proven track record of solving complex technical issues, employing logical reasoning and innovative thinking to deliver effective solutions.</p>
        </div>
        <div class="strength">
            <h3>• Attention to Detail</h3>
            <p>I always want perfection.</p>
          </div>
      </section>
  
      <section class="skills">
        <h2>TECHNICAL SKILLS</h2>
        <ul>
            
          <li>Java • TypeScript</li>
          <li>Object-Oriented Programming</li>
          <li>Data Structures • Algorithms</li>
          <li>Spring Boot • Angular 17+</li>
          <li>PostgreSQL • MySQL</li>
          <li>Git • Figma • Tailwind CSS</li>
          <li>Node.js • Express.js • React</li>
          <li>HTML • CSS • JavaScript</li>
          <li>Docker • Unit Testing • REST APIs</li>
        </ul>
      </section>


      
    </div>
  
    <div class="main">
      <header>
        <h1>YONELA KULATI</h1>
        <h3>Junior Full Stack Developer | Software Engineer</h3>
        <div class="contact">
          <p>☎ (078) 646-5551 <br>  ✉️ nelakulati&#64;gmail.com</p>
          <p>📍 Johannesburg, Gauteng, South Africa</p>
          <p>LinkedIn: linkedin.com/in/yonela-kulati-665717133</p>
          <p>GitHub:  https://github.com/Nellark</p>
          <p>Portfolio:  https://nelakulati.netlify.app/</p>
        </div>
        <img src="https://api.qrserver.com/v1/create-qr-code/?data=https://nelakulati.netlify.app&size=100x100" alt="Portfolio QR Code" class="qr-code">
         </header>
  
      <section class="summary">
        <h2>SUMMARY</h2>
        <p>Passionate and dedicated Junior Full Stack Developer with 1+ year of experience in modern web technologies. Possesses strong technical skills in <strong>Java, Angular, Spring Boot,</strong> and databases like <b>PostgreSQL</b>. Experienced in developing scalable applications and maintaining systems collaborating effectively with cross-functional teams. Continuously learning to stay up to date with technology trends.</p>
      </section>

      <section class="education">
        <h2>EDUCATION</h2>
        <div class="edu-item">
          <h3>Software Engineering NQF 6</h3>
          <p class="job-details">Shaper • April 2025 - Present</p>
          <ul>
            <li>Front-end: HTML, CSS, JavaScript, Angular</li>
            <li>Back-end: Node.js, Express.js, Java, Spring Boot</li>
            <li>Databases: MySQL, PostgreSQL</li>
            <li>UI Design: Figma</li>
          </ul>
        </div>
        <div class="edu-item">
          <h3>Software Development (Full-Stack) NQF 5</h3>
          <p class="job-details">Shaper • April 2024 - March 2025 </p>
          <ul>
            <li>Front-end: HTML, CSS, JavaScript, Angular</li>
            <li>Back-end: Node.js, Express.js</li>
            <li>Databases: MySQL, PostgreSQL</li>
          </ul>
        </div>
        <div class="edu-item">
          <h3>Microsoft Certified Solutions Expert (MCSE)</h3>
          <p class="job-details">Mguka FET (Learnership) • 2017 </p>
          <ul>
          <li>Configure and manage Windows Server environments and implement network infrastructure services.</li> 
        </ul>
        </div>
        <div class="edu-item">
            <h3>Computer Literacy</h3>
            <p class="job-details"> Believers Care Society Training Centre • 2016</p>
            <ul>
            <li>Microsoft excel, Word, Powerpoint, Internet and email.</li> 
          </ul>
          </div>
        <div class="edu-item">
            <h3>Matric</h3>
            <p class="job-details">School : Mpilisweni Secondary School • 2012</p>
        </div>
      </section>
  
      <section class="experience">
        <h2>WORK EXPERIENCE</h2>
        <div class="job">
          <h3>Full Stack Developer / Software Engineer</h3>
          <p class="job-details">Shaper • April 2024 - Present </p>
          <ul>
            <li>Developed and maintained web applications using Java, Spring Boot, and Angular, increasing efficiency.</li>
            <li>Designed and implemented new features for a large-scale project (Shaper PMS).</li>
           <li>Performed Sprint reviews and adhered to best practices to ensure code quality.</li>
          </ul>
        </div>
        <div class="job">
          <h3>IT Intern</h3>
          <p class="job-details">KasieLabs • 2020 - 2021 </p>
          <ul>
            <li>Led coding sessions using Google's CS First for children aged 9-14, guiding interactive projects.</li>
            <li>Monitored student progress and provided individualized support to enhance learning outcomes.</li>
          </ul>
        </div>
        <div class="job">
          <h3>YES Learnership (General-worker)</h3>
          <p class="job-details">Khulanathi Internet Cafe • April 2019 - April 2020 (1 Year) </p>
          <ul>
            <li>Assisted customers with computer usage, email, scanning, and copying.</li>
            <li>Responded to customer inquiries and resolved error messages related to accessing websites.</li>
          </ul>
        </div>

        <div class="job">
            <h3>ICT Intern</h3>
            <p class="job-details"> Alafang High School • April 2018 – April 2019 (1 Year)</p>
            <ul>
              <li> Maintained hardware and software for smart boards.</li>
              <li>Assisted with administration data capture using SASAMS.</li>
            </ul>
          </div>

          <div class="job">
            <h3>Homework Supervisor</h3>
            <p class="job-details"> Izibuko Primary School • Feb 2016 – April 2017 (1 Year 2 Months)</p>
            <ul>
              <li> Assisted learners with homework and planned lessons on assigned subjects.</li>
              <li>Assisted with administration work, capturing data using SASAMS.</li>
            </ul>
          </div>

      </section>
  

  
      <section class="references">
        <h2>REFERENCES</h2>
        <ul>
        <li><strong>Shaper</strong> - Eunéne Levine, info&#64;shaper.co.za, +27 061 544 9366</li> 
          <li><strong>KasieLabs</strong> - Sangile Mavuso, sangile&#64;kasielabs.co.za, 081 219 9445</li>
          <li><strong>Khulanathi Tuckshop</strong> - Nobuntu, nobuntuk70&#64;gmail.com, 078 887 4472</li>
          <li><strong>Alafang High School</strong> - P.S Ndhlovu , pikani.ndhlovu&#64;webmail.co.za, 082 094 6271</li>
        </ul>
      </section>
    </div>
  
    <button (click)="downloadPdf()">Download as PDF</button>
  </div>